.navbar{
   border-bottom: 1px solid lightgray;
   background-color: white;
   position: sticky;
   top: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-img{
    width: 48px;
    height: 48px;
}

.brand-name{
    font-size: 32px;
    font-weight: 800;
    color: rgb(25, 23, 23);
}

.nav-links{
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.nav-actions{
    display: flex;
    gap: 10px;
}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}