.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.logo{
    font-size: 32px;
    font-weight: 800;
}

.nav-links{
    display: flex;
    gap: 32px;
    list-style-type: none;
}

.nav-actions{
    display: flex;
    gap: 10px;
}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}