*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary{
    background-color: darkslategrey;
    color: white;
}

.container{
    max-width: 1120px;
    margin-inline: auto;
}

.link{
    text-decoration: none;
    color: inherit;
}

/* category list */
.category-list{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
}

.category-name{
    font-size: 18px;
    font-weight: 600;
    color: rgb(52, 51, 51);
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.cat-img{
    margin-bottom: 10px;
    border-radius: 18px;
    aspect-ratio: 1/1;
}


/* home page */
.category-section{
    margin-block: 60px;
}

.title{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 16px;
    color: rgb(24, 24, 24);
}


/* product list */
.product-section{
    margin-block: 60px;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}

.product-img{
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-title{
    margin-bottom: 6px;
    color: rgb(28, 29, 29);
}

.price{
    color: rgb(102, 98, 98);
    margin-bottom: 10px;
}

/* shop page */
.shop-container{
    margin-block: 16px;
}

.shop-title{
    font-size: 28px;
    margin-bottom: 16px;
}

/* product detail page */
.product_detail_section{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-block: 32px;
}

.product_image{
    flex: 1;
    max-width: 600px;
    height: 60vh;
    border-radius: 18px;
}

.product-info{
    flex: 1;
}

.cat_name{
    color: rgb(75, 74, 74);
    font-weight: 600;
    margin-bottom: 4px;
}

.p_title{
    font-size: 36px;
    color: rgb(19, 18, 18);
}

.p_price{
    font-size: 40px;
    font-weight: 900;
    color: rgb(34, 33, 33);
    margin-block: 18px;
}

.desc_title{
    font-size: 24px;
    margin-bottom: 6px;
}

.p_desc{
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: rgb(103, 99, 99);
}

.add_to_cart{
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}