*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

.container{
    max-width: 1120px;
    margin-inline: auto;
}

.link{
    text-decoration: none;
    color: inherit;
}

/* category list */
.category-list{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
}

.category-name{
    font-size: 18px;
    font-weight: 600;
    color: rgb(52, 51, 51);
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


/* home page */
.category-section{
    margin-block: 60px;
}

.title{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 16px;
    color: rgb(24, 24, 24);
}